AddDefaultCharset utf-8
Options Includes +ExecCGI

AddType text/x-server-parsed-html .html
AddType application/x-httpd-php .php .html .phtml

Options +FollowSymlinks
RewriteEngine on


php_value error_reporting 7


#Action libhandler "/index.php?"
AddHandler libhandler .html .htm

# remove neibour slashes
#RewriteRule ^(.*)$ index.php?lang=ua&sub=$1


RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^img/(.*)$ sources/img/$1 [L]
RewriteRule ^swf/(.*)$ sources/swf/$1 [L]
RewriteRule ^css/(.*)$ sources/css/$1 [L]
RewriteRule ^js/(.*)$ sources/js/$1 [L]




RewriteRule ^$ index.php?lang=$1
RewriteRule ^(ua|ru|en)$ index.php?lang=$1 [L]
RewriteRule ^(ua|ru|en)/$ index.php?lang=$1 [L]



#RewriteRule ^(mortgagecalculator|paydayloans|auto-loans|mortgage|auto-insurance|debt-settlement|tax-debt-relief|credit-repair|)$ index.php?sub=/$1;



RewriteRule ^(en|ua|ru|de|pl|ro|fr|by|cz)/(.*)(\.html|\.htm|){0,1}$ index.php?lang=$1&sub=$2&ext=$3 [L,NS]
RewriteRule ^([a-zA-Z0-9\(\)\-_\/%\s:]+)(\.html|\.htm){0,1}$ index.php?sub=$1&ext=$2 [L,NS]

RewriteRule ^(?!index)(?!program)(?!plugins)([a-zA-Z0-9\(\)\-_\/%\s:]+)\.php$ index.php?sub=$1&ext=.php









